{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        {{ user.id }}
        Profile of {{ user.firstname }} {{ user.lastname }}<br>
        Email : {{ user.email }}
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}