{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1 class="middleSpace">Welcome to the Ultimate Blog, {{ app.user.username }} !!</h1>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function (){
            $('#pathHome').addClass('active');
        })
    </script>
{% endblock %}