/*
    TODO: Base & Nav
 */

body{
    margin:0;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 6%;
    overflow: hidden;
    background-color: #333;
}

.row {
    margin: 30px 7%;
}

li {
    float: left;
}

li a, .dropbtn, .white {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

li a:hover, .dropdown:hover .dropbtn, .active {
    background-color: #848484;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.right {
    float: right;
}

/*
    TODO: Home
 */

.middleSpace{
    margin-top: 150px;
    text-align: center;
}

.buttonForm{
    text-decoration: none;
    transition-duration: 0.4s;
    padding: 8px 32px;
    color: black;
    border: 2px solid #333;
    border-radius: 7px;
}

.buttonForm:hover{
    background-color: #333;
    color: white;
}