{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1 class="middleSpace">Welcome to the Ultimate Blog !</h1><br>
        <div class="middle">
            <a class="buttonForm" href="{{ path('security_login')}}">Login</a>
            <a class="buttonForm" href="{{ path('security_register')}}">Register</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function (){
            $('#pathHome').addClass('active');
        })
    </script>
{% endblock %}