{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1 class="middle">Create a new article</h1>
        <a class="buttonForm buttonSmall" href="{{ path('blog')}}">< return</a>
        <div class="divform">
            {{ form_start(form, {'attr':{'class':'form'}}) }}
            {{ form_widget(form) }}
            <button type="submit">Create</button>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}